.item1 { grid-area: header; }
.item2 {grid-area: nav1;}
.item3 {grid-area: nav2;}
.item4 {grid-area: nav3;}
.item5 {grid-area: nav4;}
.item6 {grid-area: title;}
.item7 {grid-area: main1 ;}
.item8 {grid-area: star;}
.item9 {grid-area: ingredients ;}
.item10 {grid-area: footer ;}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header'
    'nav1 nav2 nav3 nav4'
    'title title title title'
    'main1 main1 main1 main1'
    'star star star star'
    'ingredients ingredients ingredients ingredients'
    'ingredients ingredients ingredients ingredients'
  'footer footer footer footer';
    grid-gap: 15px;
    background-color: #3978ac;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}